:root {
    --body-color:  #2f2f2f ;
    --nav-height: 60px;
    --box-shadow: 0 .5rem 1rem rgba(black, .15);
    --box-shadow-lg: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    --z-index-overlay:        5;
    --z-index-above-overlay: 10;
}

html, body {
    margin: 0;
    height: 100%;
}

body.overlay-active::after {
    position: absolute;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    z-index: 5;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar {
    min-height: var(--nav-height);
}

/* All icons */
i {
    margin-right: .25rem;
}

.img-container {
    width: 100%;
}

img {
    max-width: 100%;
}

/* Search & pop over */

.search-bar-form {
    z-index: var(--z-index-above-overlay);
}

.search-bar-modal {
    position: absolute;
    top: var(--nav-height);
    right: 0;
    padding: 2rem;
    background-color: white;
    overflow-x: hidden;
    box-shadow: var(--box-shadow-lg);
    display: none;
    visibility: hidden;
    z-index: var(--z-index-above-overlay);
}

.search-bar-modal.active {
    display: block;
    visibility: visible;
}

.search-bar-modal .container {
    width: 50vw;
}

.search-bar-modal ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 2rem;
    margin-left: auto;
}

.search-bar-modal li {
    cursor: pointer;
    color: #cecece;
}

.search-bar-modal li.active {
    color: var(--body-color);
}

.search-bar-modal__output {
    width: 100%;
    min-height: 6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.account-link {
    cursor: pointer;
}

/* Account modal */
.user-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    box-shadow: var(--box-shadow-lg);
    z-index: var(--z-index-above-overlay);
    height: 100%;
    display: none;

    transform: translateX(110%);
    transition: transform .3s ease-in-out;
}

.user-modal.active {
    transform: translateX(0%);
    display: block;
}

.exit-modal-container {
    position: absolute;
    right: 1rem;
}

.exit-modal-container i {
    cursor: pointer;
}

.user-modal .img-container{
    max-width: 240px;
}

/* Profile */

.profile-right-container {
    width: 75%;
    max-width: 300px;
}

/* Mebership table */

.membership-table table,
.terms-table {
    width: 100%;
    margin-top: 1rem;
}

.membership-table tr {
    cursor: pointer;
}

.membership-table .img-container {
    max-width: 60px;
}

.membership-table td,
.membership-table th,
.terms-table td,
.terms-table th {
    margin: 1rem 0;
}

.membership-table table td:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

/* Content [user modal] */
.user-modal__menu-item {
    color: #cecece;
    cursor: pointer;
}

.user-modal__menu-item.active {
    color: var(--body-color);
}

.user-modal__item {
    display: none;
}

.user-modal__item.active {
    display: block;
}

/* Add membership [from user modal] */

.add-membership > form {
    min-height: 30vh;
}

.add-membership .expiry-date-container {
    display: none;
}

.add-membership .expiry-date-container.active {
    display: block;
}

.add-membership .cost:read-only {
    background:  #bebebe;
}

/* Membership [from user modal] */
.user-modal__membership {
    max-height: 4rem;
    cursor: pointer;
    opacity: .97;
}

.user-modal__membership.active {
    max-height: 1000vh;
}

/* terms edit */
.terms-edit__term.active,
.terms-edit__drop-down.active {
    display: inline-block !important;
}

.terms-edit__term,
.terms-edit__drop-down {
    display: none !important;
}

.term-table tr {
    padding: 1rem;
}

.new-term {
    display: none;
}

.new-term.active {
    display: table-row;
}

.activity-container {
    cursor: pointer;
}

/* Dashboard */
.revenue-filters {
    cursor: pointer;
}

.member-overview-container h3 {
    cursor: pointer;
    color: #cecece;
}

.member-overview-container h3.active {
    color: var(--body-color);
}

.visits-filters {
    position: relative;
    list-style-type: none;
}

.visits-filters ul {
    padding-left: 0;
    min-width: 5rem;
    display: flex;
    justify-content: center;
}

.visits-filters li {
    display: none;
}

.visits-filters li.active {
    display: inline-block;
}

.visits-container i {
    cursor: pointer;
    margin: 0;
}

@media (min-width: 992px) {
    .profile-right-container {
        width: 60%;
        max-width: initial;
    }
}
